In [4]:
from pybaseball import standings
import pandas as pd

In [5]:
data=standings(2023)

In [6]:
print(data)

[                  Tm   W  L  W-L%   GB
1     Tampa Bay Rays  14  3  .824   --
2   New York Yankees  10  6  .625  3.5
3  Toronto Blue Jays  10  7  .588  4.0
4  Baltimore Orioles   9  7  .563  4.5
5     Boston Red Sox   8  9  .471  6.0,                     Tm   W   L  W-L%   GB
1      Minnesota Twins  10   6  .625   --
2  Cleveland Guardians   9   7  .563  1.0
3    Chicago White Sox   6  10  .375  4.0
4       Detroit Tigers   5   9  .357  4.0
5   Kansas City Royals   4  13  .235  6.5,                    Tm   W   L  W-L%   GB
1       Texas Rangers  10   6  .625   --
2  Los Angeles Angels   8   8  .500  2.0
3      Houston Astros   8   9  .471  2.5
4    Seattle Mariners   8   9  .471  2.5
5   Oakland Athletics   3  14  .176  7.5,                       Tm   W   L  W-L%   GB
1         Atlanta Braves  13   4  .765   --
2          New York Mets  11   6  .647  2.0
3          Miami Marlins   9   8  .529  4.0
4  Philadelphia Phillies   6  10  .375  6.5
5   Washington Nationals   5  11  .313  7.5,                     Tm   W   L  W-L%   GB
1    Milwaukee Brewers  12   5  .706   --
2         Chicago Cubs   9   6  .600  2.0
3   Pittsburgh Pirates  10   7  .588  2.0
4      Cincinnati Reds   7   9  .438  4.5
5  St. Louis Cardinals   7  10  .412  5.0,                      Tm   W   L  W-L%   GB
1  Arizona Diamondbacks  10   7  .588   --
2   Los Angeles Dodgers   8   9  .471  2.0
3      San Diego Padres   8  10  .444  2.5
4  San Francisco Giants   5  10  .333  4.0
5      Colorado Rockies   5  12  .294  5.0]

In [3]:
wins=pd.DataFrame()

for division in data:
    division_df=pd.DataFrame(division, columns=['Tm','W','L','W-L%','GB'])
    wins = pd.concat([wins, division_df], axis=0)

In [4]:
data = [
    {"Name": "Chris", "Team": "Houston Astros"},
    {"Name": "Daniel", "Team": "Atlanta Braves"},
    {"Name": "Kevin", "Team": "New York Yankees"},
    {"Name": "Drew", "Team": "Los Angeles Dodgers"},
    {"Name": "Casey", "Team": "San Diego Padres"},
    {"Name": "Andrew", "Team": "New York Mets"},
    {"Name": "Brandon", "Team": "Toronto Blue Jays"},
    {"Name": "Brandon", "Team": "St. Louis Cardinals"},
    {"Name": "Andrew", "Team": "Seattle Mariners"},
    {"Name": "Casey", "Team": "Philadelphia Phillies"},
    {"Name": "Drew", "Team": "Milwaukee Brewers"},
    {"Name": "Kevin", "Team": "Cleveland Guardians"},
    {"Name": "Daniel", "Team": "Minnesota Twins"},
    {"Name": "Chris", "Team": "Tampa Bay Rays"},
    {"Name": "Chris", "Team": "Chicago White Sox"},
    {"Name": "Daniel", "Team": "Los Angeles Angels"},
    {"Name": "Kevin", "Team": "Baltimore Orioles"},
    {"Name": "Drew", "Team": "Texas Rangers"},
    {"Name": "Casey", "Team": "Boston Red Sox"},
    {"Name": "Andrew", "Team": "Arizona Diamondbacks"},
    {"Name": "Brandon", "Team": "San Francisco Giants"},
    {"Name": "Brandon", "Team": "Cincinnati Reds"},
    {"Name": "Andrew", "Team": "Miami Marlins"},
    {"Name": "Casey", "Team": "Chicago Cubs"},
    {"Name": "Drew", "Team": "Detroit Tigers"},
    {"Name": "Kevin", "Team": "Kansas City Royals"},
    {"Name": "Daniel", "Team": "Pittsburgh Pirates"},
    {"Name": "Chris", "Team": "Colorado Rockies"},
]

owners = pd.DataFrame(data)

In [5]:
combined=owners.merge(wins, left_on='Team', right_on='Tm')

In [6]:
combined=combined[['Name','Team','W','L']]
combined['W']=combined['W'].astype(int)
combined=combined.sort_values('W', ascending=False)

In [7]:
summary=combined.groupby('Name')['W'].sum()

In [8]:
summary_sorted=summary.sort_values(ascending=False)

In [9]:
summary_df=pd.DataFrame(summary_sorted).reset_index()

In [10]:
summary_df

      Name   W
0   Daniel  38
1   Andrew  35
2     Drew  33
3    Chris  32
4    Kevin  32
5    Casey  30
6  Brandon  28

In [11]:
combined

       Name                   Team   W   L
13    Chris         Tampa Bay Rays  14   2
1    Daniel         Atlanta Braves  12   4
10     Drew      Milwaukee Brewers  11   5
2     Kevin       New York Yankees  10   6
5    Andrew          New York Mets  10   6
6   Brandon      Toronto Blue Jays  10   6
12   Daniel        Minnesota Twins  10   6
19   Andrew   Arizona Diamondbacks   9   7
17     Drew          Texas Rangers   9   6
16    Kevin      Baltimore Orioles   9   7
26   Daniel     Pittsburgh Pirates   9   7
11    Kevin    Cleveland Guardians   9   7
18    Casey         Boston Red Sox   8   8
23    Casey           Chicago Cubs   8   6
22   Andrew          Miami Marlins   8   8
8    Andrew       Seattle Mariners   8   8
4     Casey       San Diego Padres   8   9
3      Drew    Los Angeles Dodgers   8   8
15   Daniel     Los Angeles Angels   7   8
7   Brandon    St. Louis Cardinals   7   9
0     Chris         Houston Astros   7   9
14    Chris      Chicago White Sox   6  10
21  Brandon        Cincinnati Reds   6   9
9     Casey  Philadelphia Phillies   6  10
20  Brandon   San Francisco Giants   5   9
24     Drew         Detroit Tigers   5   9
27    Chris       Colorado Rockies   5  11
25    Kevin     Kansas City Royals   4  12

       Name                   Team   W  L
13    Chris         Tampa Bay Rays  13  0
10     Drew      Milwaukee Brewers   9  4
1    Daniel         Atlanta Braves   9  4
12   Daniel        Minnesota Twins   9  4
6   Brandon      Toronto Blue Jays   8  5
26   Daniel     Pittsburgh Pirates   8  5
19   Andrew   Arizona Diamondbacks   8  5
2     Kevin       New York Yankees   8  5
5    Andrew          New York Mets   7  6
11    Kevin    Cleveland Guardians   7  6
4     Casey       San Diego Padres   7  7
3      Drew    Los Angeles Dodgers   7  6
15   Daniel     Los Angeles Angels   7  5
16    Kevin      Baltimore Orioles   7  6
17     Drew          Texas Rangers   7  5
23    Casey           Chicago Cubs   6  5
22   Andrew          Miami Marlins   6  7
0     Chris         Houston Astros   6  7
20  Brandon   San Francisco Giants   5  7
21  Brandon        Cincinnati Reds   5  7
14    Chris      Chicago White Sox   5  8
18    Casey         Boston Red Sox   5  8
8    Andrew       Seattle Mariners   5  8
7   Brandon    St. Louis Cardinals   5  8
27    Chris       Colorado Rockies   5  8
9     Casey  Philadelphia Phillies   4  9
25    Kevin     Kansas City Royals   4  9
24     Drew         Detroit Tigers   3  9